/* Font in design files is Raleway */

/* background-image in Design 👇
 url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/John_Martin_-_The_Plains_of_Heaven_-_Google_Art_Project.jpg/1920px-John_Martin_-_The_Plains_of_Heaven_-_Google_Art_Project.jpg'); */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

a {
    text-decoration: none;
}

header {
 width: 100%;
}

nav{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

nav ul li {
    list-style: none;
    padding: 5px;
    
}
 .title-container {
    background-image: url(/assets/home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding-top: 100px;
    margin: 0px 10px;
}

.title-container button  {
    border-radius: 9px;
    background-color: turquoise;
    
}
.title-container h1 {
    font-size: 25px;
    color: whitesmoke;
}

.hero img{
    width: 100%;
    padding: 0px 10px;
}

img {
    width: 100%;
    padding: 10px 10px;
    opacity: 80%
}

@media (min-width: 1200px) {
    nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center
    
    }

    .artists-container img{
        width: 300px;
        height: 300px;
        border-radius: 10%;
        
        
    }
    .artists-container a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav li {
        margin: 20px;
    }
    .artists-container  {
        display: flex;
        
    }
    .bio {
        margin: 10px;
    }
}
    