* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

a {
  text-decoration: none;
}

header {
width: 100%;
}

nav{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

nav ul li {
  list-style: none;
  padding: 5px;
  
}

.hero img{
  width: 100%;
  padding: 0px 10px;
}

img {
  width: 100%;
  padding: 10px 10px;
}

@media (min-width: 1200px) {
  nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center
  }

  .artists-container img{
      width: 300px;
      height: 300px;
      border-radius: 10%;
  }
  .artists-container a {
      display: flex;
      justify-content: center;
  }
  
  nav li {
      margin: 20px;
  }
  .artists-container  {
      display: flex;
      
  }
  .bio {
      margin: 20px;
  }
}
  