* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
}
nav {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
nav ul li {
  list-style: none;
  padding: 5px;
}
.title-container {
  background-image: url(/assets/home.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  padding-top: 100px;
  margin: 0px 10px;
}
.title-container button {
  border-radius: 9px;
  background-color: turquoise;
}
.title-container h1 {
  font-size: 25px;
  color: whitesmoke;
}
